moviepy==1.0.3
Pillow>=10.0.0
google-api-python-client>=2.129.0
google-auth>=2.35.0
google-auth-oauthlib>=1.2.1
requests>=2.32.3
google-genai>=0.8.0
schedule>=1.2.1
gTTS
diffusers
torch
transformers
yt_dlp
numpy
